
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kullanıcı Girişi</title>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
<link href="~/css/signin.css" rel="stylesheet"/>
</head>

   <body class="text-center">
<main class="form-signin w-100 m-auto">
  <form asp-action="Index">
    <img class="mb-4" src="/Img/user.png" alt="" width="72" height="72">
   

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Şifre">
      <label for="floatingPassword">Şifre</label>
    </div>

    <div class="checkbox mb-3">
      <label>
          <input type="checkbox" value="remember-me">Beni Hatırla
      </label>
    </div>

<button class="btn custom-button w-100 py-2" type="submit">Giriş</button>

    <p class="mt-5 mb-3 text-body-secondary">© 2023</p>
  </form>
</main>

    

</body>
</html>
